<div [formGroup]="filterForm">
    <label for="regionName">Region Name:</label>
    <input type="text" id="regionName" formControlName="regionName" />
  
    <label for="fromDate">  From Date:</label>
    <input type="text" id="fromDate" formControlName="fromDate"  maxlength="4"/>
  
    <label for="toDate">   To Date:</label>
    <input type="text" id="toDate" formControlName="toDate"  maxlength="4"/>
  
    <button class="button-68" role="button" (click)="applyFilters()">Apply Filters</button>
  </div>
<table id="customers">
    <tr>
      <th>Country Name</th>
      <th>Region Name</th>
      <th>Continent Name</th>
      <th>Year</th>
      <th>Population</th>
           <th>Gdp</th>
    </tr>

    <tr *ngFor="let countryStat of countryStats">
      <td>{{countryStat.countryName}}</td>
      <td>{{countryStat.regionName}}</td>
      <td>{{countryStat.continentName}}</td>
      <td>{{countryStat.year}}</td>
      <td>{{countryStat.population}}</td>
      <td>{{countryStat.gdp}}</td>

    </tr>
   
  </table>
  